/*
Theme Name: Atsuya
Template: twentytwentyone
*/
:root{
	--global-primary-color:  #fff;
	--global-seconday-color:  #003466;
	--global-primary-text-color: #000000;
	--secondary-blue: #038AFF;
	--light-blue-bg: #F0F3FF;
	--light-color: #B2AFAF;
	--light-blue: #DDF3FF;
	--light-grey: #4D4C4C;
	--btn-hover: #11BD56;
	--regular-font: 300;
	--regular-font400: 400;
	--bold-regular:  500;
	--semi-bold-font: 600;
	--bold-font:  800;
	--primary-font: 'Inter', sans-serif;
	font-size: 16px;
}
body,html{background-color: var(--global-primary-color); font-family: var(--primary-font); font-weight: var(--regular-font); color: var(--light-grey);overflow-x: hidden;}
/*--common classes--*/
.pad0{padding: 0}
.mtop1{margin-top: 1em;}
.mtop5{margin-top: 5em;}
a{text-decoration: none !important;}
ul,li,ol{list-style-type: none; list-style-image: none; margin: 0;padding: 0;}
img{border: 0;outline: none;max-width: 100%;}
.vjustify-content{justify-content: center; align-items: center;}
.text-white, .text-white h1,.text-white h2, .text-white h3, .text-white p, .text-white a{color: var(--global-primary-color)}
h1{font-size: 2.875rem; color: var(--global-seconday-color); font-weight: var(--bold-font);line-height: 1.25em; margin-bottom: 2.5rem;}
h1.entry-title,h3{font-size: 2em; color: var(--global-seconday-color); font-weight: var(--semi-bold-font); margin-bottom: 1rem;}
h2{font-size: 2.625rem; font-weight: var(--semi-bold-font); color: var(--global-primary-text-color);margin-bottom: 2.250rem;}
h4{font-size: 1.5rem; font-weight: var(--semi-bold-font)}
.arrlnk{color: var(--global-primary-text-color);font-size: 1.250rem; font-weight: var(--semi-bold-font);background-image: url(assets/images/link-arrow-right.png);background-repeat: no-repeat; background-position: right center; background-size: contain;padding-right: 26px;-webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
.arrlnk:hover{padding-left: 2px; padding-right: 32px;color: var(--global-primary-text-color);}
.text-white .arrlnk{color: var(--global-primary-color); background-image: url(assets/images/link-arrow-right-white.png);}
.font2x{font-size: 2rem}
.font-third-level{font-size: 1.875rem;font-weight: var(--bold-regular);line-height:1.250em;}
.common-btn{display: inline-block;background: #038AFF;box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);border-radius: 9px; padding: 0.9rem 2rem;; color: var(--global-primary-color); font-weight: var(--semi-bold-font); text-transform: uppercase;font-size: 1.625rem;-webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
.common-btn:hover{background-color: var(--btn-hover); color:var(--global-primary-color) }
/*--containers--*/
.common-container-xl{width: auto; max-width: 90%;margin: 0 auto;}
.common-container-lg{max-width: 1300px}
/*--header--*/
.main-site-header{padding: 1.5em 0;}
li.mega-disabledlnk a{pointer-events: none;}
.spacetb{margin: 4rem 0;}
.bluebgsection{background-color: var(--global-seconday-color); padding: 3em 0;}
.lightbluebg{background-color: var(--light-blue-bg);}
.secondarybluebg{background-color: var(--secondary-blue);}.secondarybluebg .subhead{color: var(--global-primary-color)}
.secondarybluebg .subhead::after,.secondarybluebg .subhead::before{background-color: var(--global-primary-color)}
.section-padding{padding: 3rem 0; position: relative;}
/*===Landing-Page-Start==*/
@keyframes orbit1 {
  0%   {opacity: 0; width:115%;height: 115%}
  100%  {opacity: 1;width: 120%;height: 120%;}
}
@keyframes orbit2 {
  0%   {opacity: 0; width:135%;height: 135%}
  100% {opacity: 1; width: 140%;height: 140%}
}

#banner-area{background-image: url(assets/images/banner-mask.png);background-repeat: no-repeat; background-size: cover;}
.banner-container .row{justify-content: center; align-items: center;padding: 2em 0;}
.banner-container h1{padding-right: 3em;}
.orbit{width: 250px; height: 250px; max-width: 100%; max-height: 100%;border: 2px solid var(--secondary-blue);-webkit-border-radius: 50%; border-radius: 50%;position: absolute;}
.orbit::before,.orbit::after{content: ""; position: absolute;-webkit-border-radius: 50%;border-radius: 50%;border: 2px solid var(--secondary-blue);width: 120%;height: 120%;top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);width: 100%;height: 100%;}
.orbit::before{-webkit-animation: orbit1 1.6s linear infinite;-moz-animation: orbit1 1.6s linear infinite;-o-animation: orbit1 1.6s linear infinite;
    animation: orbit1 1.6s linear infinite;width: 120%;height: 120%;}
.orbit::after{-webkit-animation: orbit2 1.5s linear infinite;-moz-animation: orbit2 1.5s linear infinite;-o-animation: orbit2 1.5s linear infinite;
    animation: orbit2 1.5s linear infinite;width: 140%; height: 140%;}
 .orbit.noanimation::after,.orbit.noanimation::before{animation: none;}
  .orbit.noanimation::before{width: 120%;height: 120%;} .orbit.noanimation::after{width: 140%; height: 140%}
.orbit-right_top{right: 0; top: 0;}
.orbit-left_bottom{left:0;bottom:20px;width: 180px;height: 180px;}
.orbit-left_top{left: 0;top: 0;}
.orbit-centered{top: 50%;left: 50%;-webkit-transform: translate(0%,-50%);transform: translate(0%,-50%);}
.orbit-left_center{left: 0;top: 50%;left: 50%;-webkit-transform: translate(-140%, -50%); transform: translate(-140%, -50%)}
.orbit.white,.orbit.white::before,.orbit.white::after{border-color: var(--global-primary-color);}
.orbit.left-bottom_half,.orbit.right-top_half{width: 206px;height: 206px;}
.orbit.left-bottom_half{left: 0;bottom: 0;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.orbit.right-top_half{right: 0; top: 50px; -webkit-transform: translateX(50%); transform: translateX(50%);}
.demobtn{position: absolute;bottom: 20px; right: 15%;z-index: 2;}.demobtn img{position: relative;left: 0;}
.demobtn:hover img{left: 5px;}
/*--How We Do It--*/
#howWeDo ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
#howWeDo ul li{flex-basis: 50%; padding-right: 10%; margin-bottom: 3em;font-weight: var(--semi-bold-font)}
#howWeDo ul li h3{color: var(--secondary-blue)}
#howWeDo .orbit{width: 280px;height: 280px;right: -8%; margin-top: -140px;}
/*--Our-Solutions-LP--*/
#Our-Solutions-lp{color: var(--global-primary-color);padding-left: 7vw; padding-right: 7vw;}
#Our-Solutions-lp h4{color: var(--global-primary-color); font-size: 1.875rem; padding-right:4em;}
#Our-Solutions-lp div.col-sm-3{padding: 1em 2em;}
#Our-Solutions-lp .solutions-block:nth-child(1),.solutions-block:nth-child(2),.solutions-block:nth-child(3),.solutions-block:nth-child(4){border-bottom: 2px solid var(--global-primary-color); margin-bottom: 2rem;}
#Our-Solutions-lp .solutions-block p{display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;  overflow: hidden;}
#Our-Solutions-lp .orbit{width: 280px; height: 280px; }
#Our-Solutions-lp .orbit:first-child{right: -5%;} #Our-Solutions-lp .orbit:last-child{left: -7%; bottom: -10%;}
/*--/Our-Solutions-Lp--*/
/*--Business-Operations--*/
.custom-container-block{width: 100%; max-width: 1250px; display: flex;padding: 14rem 0;align-items: center;position: relative;margin: 0 auto;}
#businessOperations .lightbluebg{max-width: 70%; flex-basis: 70%;padding-left: 2em; padding-right: 2em;}
#businessOperations .imgblock{flex-basis: 30%;max-width: 30%;}
.custom-container-block img{position: absolute;top: 50%; bottom: 0;-webkit-transform: translateY(-50%);transform: translateY(-50%);z-index: 1;}
.left-positioned{left: 0;}
.right-positioned{right: 0;}
/*--/Business-Operations--*/
/*--Our-Industries-lp--*/
#our-industreis-lp .col-sm-4{padding: 0 5px;}
#our-industreis-lp .col-sm-8{padding-left: 2.5rem;}
#our-industreis-lp ul{margin-top: 1.125rem;}
#our-industreis-lp .row{align-items: center}
.industries-links a{-webkit-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);background-color: var(--light-blue-bg); -webkit-transition: all 0.3s ease; transition: all 0.3s ease;background-image: url(assets/images/icons_arrow-right.png); background-position: right 3px top 5px;background-repeat: no-repeat;display: block; padding: 1rem 1.5rem;-webkit-border-radius: 5px; border-radius: 5px;
color: var(--global-primary-text-color); font-size: 1.375rem; font-weight: var(--semi-bold-font);margin-bottom: 15px;text-decoration: none;-webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
.industries-links a:hover{-webkit-box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.1);-moz-box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.1);box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.1); background-position: right 0px top 0px;}
.subhead{display: inline-block; position: relative;font-size: 1.125em;font-weight: var(--bold-font);padding: 0 2em; color: var(--global-primary-text-color);text-transform: uppercase;margin-bottom: 1.25rem;}
.subhead::before,.subhead::after{content: ""; position: absolute; width: 20px; height: 1px; background-color: var(--global-primary-text-color);top: 50%;-webkit-transform: translateY(-50%); transform: translateY(-50%);}
.subhead::before{left: 0;}.subhead::after{right: 0;}
/*--/Our-Industries-lp--*/
#witness-power .imgblock{flex-basis: 48%;}
#witness-power .secondarybluebg {flex-basis: 54%;max-width: 52%; padding-left: 3em;padding-right: 2em;}
#witness-power .secondarybluebg div.float-right{width: 435px; max-width: 100%;}
#witness-power .orbit,#businessOperations .orbit{width: 420px; height: 420px;}
/*--/How-We-Do-It--*/

/*--Case Studies Block--*/
.case-studies-block{margin-top: 4em; }
#caseStudies h2{color: var(--global-primary-color);font-size: 2rem; font-weight: 600;margin-bottom: 0;}
.case-studies-block div.slick-slide{background-color: var(--global-primary-color);-webkit-border-radius: 12px; border-radius: 12px;overflow: hidden; margin: 0 22px;max-width: 700px;}
.case-studies-block div .cs-thumb{max-width:241px;overflow: hidden;width: 100%; margin-right: 15px;height: auto;}
.case-studies-block div .cs-thumb img{height: auto !important; max-height: 232px;}
.case-studies-block div.slick-slide a{display: flex;justify-content: center; align-items: center;text-decoration: none; color: var(--light-grey); font-size: 1.125em;}
.case-studies-block div.slick-slide a h3{font-size: 1.666em; color:  var(--global-primary-text-color)}
.slider-nav .slick-arrow{-webkit-appearance: none; appearance: none; border: 1px solid var(--global-primary-color);background: none;width:48px; height: 48px;-webkit-border-radius: 50%; border-radius: 50%;position: relative; -webkit-transition: all 0.3s ease; transition:  all 0.3s ease; margin: 0 10px;}
.case-studies-block div.slick-slide .cs-content{padding: 0 3em 0 1em;}.case-studies-block div.slick-slide .cs-content p{display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;  overflow: hidden;margin-bottom: 0;}
.slider-nav .slick-arrow svg path{fill: var(--global-primary-color)}
.slider-nav .slick-arrow:hover{background-color: var(--global-primary-color);} .slider-nav .slick-arrow:hover svg path{fill: var(--global-seconday-color)}
.case-studies-container{max-width: 95%; margin: 0 0 0 auto;}
/*--Lp-Partners-section--*/
#partners .slick-slide{margin: 0 2em;}
/*===/Landing-Page-end==*/

/*--Solution-Category-and-posts--*/
.breadcrumbs{font-size: 1.125em; color: var(--light-grey);}.breadcrumbs a{color: var(--light-grey);}
.banner-content{position: absolute;top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);width: 100%;left: 0;right: 0;}
.bannerbg{background: linear-gradient(91.48deg, #E7F2FF 44.81%, rgba(237, 245, 255, 0) 80.06%);min-height: 352px;position: relative;}
.our-solution__list{display: flex;flex-wrap: wrap; flex-basis: 50%; justify-content: space-between;list-style-type: none;list-style-image: none;padding: 0; margin: 2em 0 0 0;}
.our-solution__list li{display: flex;list-style-type: none;list-style-image: none;flex-basis: 44%;justify-content: space-around; margin-bottom: 3em; color: var(--light-grey); line-height: 1.5em; align-items: center;}
.our-solution__list li span.list-point_icon{flex-basis:18%; flex-shrink:0;}.our-solution__list li span.list-point_icon img{max-width:60px;}
.impact-list{display: flex; justify-content: center;flex-direction:row; justify-content: space-around;}
.impact-list li{flex-basis: auto; padding: 1em 2em; background-color: var(--global-primary-color); -webkit-border-radius: 10px; border-radius: 10px; max-width: 318px;margin: 0 15px;text-align: center;font-size: 1.125rem;font-weight: 400;}
.impact-list li span{display: block; text-align: center;margin-bottom: 1.5em;display: block; line-height: 4em; vertical-align: middle;}
/*--/end-solutions-category-and-posts--*/


/*--Footer--*/
#talkToExperts p:last-child{margin-bottom: 0;}
#talkToExperts h4{font-size: 2.5em;}
#talkToExperts p{font-size: 1.75em; padding-top: 0.5em;}
#talkToExperts a{display: inline-block;padding: 10px 15px; font-size: 1.5rem;box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01); border: 1px solid #11BD56;text-decoration: none; color: var(--global-primary-text-color);width: 100%; max-width: 342px;box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01); font-weight: var(--semi-bold-font);-webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
#talkToExperts a:hover{background-color: #11BD56}
.site-footer{background-color: var(--global-seconday-color); padding: 4em 0 2em 0;color: var(--global-primary-color)}
.site-footer ul{margin: 0;padding: 0; margin-bottom: 1em;}
.site-footer ul li{list-style-type: none; list-style-image: none; color: var(--global-primary-color); padding-top:8px; }
.site-footer ul li:first-child{text-transform: uppercase;font-weight: var(--bol-font); color: var(--light-blue); letter-spacing: 0.05em; font-weight: var(--semi-bold-font);}
.light-font{color: var(--light-color); font-size: 1.250em;}
.site-footer ul li a{color: var(--global-primary-color);-webkit-text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.01);text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.01);-webkit-transition: all 0.3s ease; transition:  all 0.3s ease;position: relative;display: inline-block;padding-bottom: 2px;}
.site-footer ul li a::after{content: ""; width: 0; position: absolute; bottom: 0; left: 0;height: 1px; background-color: var(--light-blue);transition: width 0.3s ease; transition: width 0.3s ease;left: 5px;}
.site-footer ul li a:hover{padding-left: 5px; color: var(--light-blue);text-decoration: none;}
.site-footer ul li a:hover::after{width: 100%;}
ul.wp-block-social-links li{padding: 0 !important;}
.wp-social-link{background-color: transparent !important;} .wp-social-link svg{width: 35px !important; height:  35px !important;}
.site-footer .widget-area h2{font-size:1.5em; margin-top: 1em; font-weight: var(--semi-bold-font);color: var(--global-primary-color)}
.site-footer .wp-block-social-links .wp-social-link a{padding: 0.10em 0;}.site-footer .wp-block-social-links .wp-social-link a::after{display: none;}
/*--Demo--*/
.demo-modal{width: 445px; max-width: 100%;background-color: var(--global-primary-color);right: 50px;top:200%; position: absolute;z-index: 99;-webkit-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);-webkit-transition: all 0.5s ease; transition: all 0.5s ease;height: 0;overflow: hidden;}
.demo-modal h4{padding: 1.5rem 15px;text-align: center;box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);overflow: hidden;font-size: 1.75rem;color: var(--global-primary-text-color)}
.demo-modal h4 span{cursor: pointer;float: right;-webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
.demo-modal h4 span:hover{-webkit-transform: rotate(360deg); transform: rotate(360deg);}
.demo-modal_content{padding: 1.5rem;}
.demo-modal_content input,.demo-modal_content textarea{border: 1px solid rgba(0, 0, 0, 0.43);-webkit-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
border-radius: 6px;padding: 10px;width: 100%;}
.demo-modal_content textarea{max-height: 100px;} .demo-modal_content p label span > span{position: absolute; bottom: -10px; left: 0; font-size: 12px;}
.demo-modal_content p{position: relative;}
.demo-modal_content .wpcf7-form-control-wrap{position: static;} .demo-modal_content input[type="submit"]{background-color: var(--btn-hover); border: 1px solid transparent;color: var(--global-primary-color); font-size: 1.5rem;}
.demo-modal.showmodal{height: auto;top: 50%;-webkit-transform:translateY(-50%); transform:translateY(-50%)} .modal-backdrop{content: ""; width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);z-index: 50;-webkit-transition: all 0.3s ease; transition: all 0.3s ease;position: fixed;}
p.privacy{margin-top:-1rem; font-weight:var(--regular-font400)}p.privacy span{color: var(--global-primary-text-color)}
/*--Responsive media queries--*/
